body {
  margin: 0;
  font-family: Verdana sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr:hover{
  background-color: lightgray;
  cursor: pointer;
}

body{
  background-image: url("image1.jpg");
  background-color: darkgray;
  background-repeat: no-repeat;
  background-size: cover;
  
}
